.page-panel,
.post-panel,
.posts-styles,
.posts-styles-grid,
.widget-options-section {
	margin: 1em 0;
}

.post-panel {
	& > div {
		margin: 1em 0;
	}
}

.terms-checklist,
.pages-checklist {
	padding: 10px;
	border: 1px solid rgb(230, 230, 230);
	margin: 4px 0px 10px;
	max-height: 80px;
	height: 80px;
	overflow: auto;
	ul {
		margin-top: 0;
	}
}

.bayleaf-hidden {
	display: none;
}
