.page-panel,
.post-panel,
.posts-styles,
.posts-styles-grid,
.widget-options-section {
	margin: 1em 0;
}

.post-panel > div {
	margin: 1em 0;
}

.terms-checklist,
.pages-checklist {
	overflow: auto;
	height: 80px;
	max-height: 80px;
	margin: 4px 0 10px;
	padding: 10px;
	border: 1px solid #e6e6e6;
}

.terms-checklist ul,
.pages-checklist ul {
	margin-top: 0;
}

.bayleaf-hidden {
	display: none;
}
